body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.game-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px dashed #4CAF50;
    animation: dash-animation 2s linear infinite;
    width: 80%;
    box-sizing: border-box;
}

@keyframes dash-animation {
    from {
        border-color: #4CAF50;
    }
    to {
        border-color: #FF5722;
    }
}

h1 {
    color: #333;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    font-size: 16px;
}

button {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn {
    background-color: #4CAF50;
    color: white;
}

#submit-btn:hover {
    background-color: #45a049;
}

#restart-btn {
    background-color: #f44336;
    color: white;
}

#restart-btn:hover {
    background-color: #d32f2f;
}

#show-answer-btn {
    background-color: #2196F3;
    color: white;
}

#show-answer-btn:hover {
    background-color: #1976D2;
}

#result, #history {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

#guess-count {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
